*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;


}

.home {	
	background: url(../images/bg2.jpeg);
	background-position: center;
	background-size: cover;	
	height: 100vh;	
	text-align: center;
/*	display: flex;
	justify-content: center;
	align-items: center;*/
/*	border-style: underline;
	border-color: 3px solid white;*/
}

.icon-header{
	height: 150px;
	width: 150px;
	border-radius: 80%

}
.hColor1 {
	color: whitesmoke;
	font-family: 'Playfair Display', serif;
	font-size: 50px;
}

.hColor2 {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

.header-text {
	margin-top: 25vh;
}

/*For MenuBar*/

nav {
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}

nav > ul {
	display: flex;
	list-style-type: none;
}

nav > ul > li {
	color: white;
	margin: 0 50px;
}


.aboutme {
	background-color: black;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-width: 20vh;
	font-size: 15px;
	color: white;
	height: 100vh;
	/*display: flex;
	text-align: center;
	justify-content: center;*/
}

.mother-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.aboutme > .mother-box > .seth-image > img{
	margin-top: 15vh;
	height: 250px;
	width: 200px;
	border-radius: 50%;
}

.about-me-1 {
	margin-top: 5vh;
	font-family: 'Playfair Display', serif;
	color: lightblue;
}

.container {
	display: flex;
	text-align: center;
	justify-content: center;
	margin-top: 3vh;
}

.aboutme > .container > .box {
/*	border: 1px solid salmon;
	background-color: gray;*/
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-width: 20vh;
	font-size: 15px;
	color: white;
	height: 20vh; 
	width: 15vw;
}

.first-box > img {
	margin-top: 5vh;
	height: 60px;
	width: 75px;
	border-radius: 50%;
}

/*Media Queries*/

	/*mobile*/

@media only screen and (max-width: 415px) {
	.home {
		background: url(../images/bg2.jpeg);
		background-position: center;
		background-size: cover;
		height: 100vh;
		width: 100vw;
		text-align: center;
/*		display: flex;
		justify-content: center;*/

	}

	.nav {
		height: 100px;
		width: 50px;
		border-bottom: 2px solid whitesmoke;
		display: flex;
		justify-content: center;
		align-items: center;
		position: sticky;
		top: 0;
	}

	.nav > ul {
		display: flex;
		list-style-type: none;
	}

	.nav > ul > li {
		color: white;
		margin: 0 100px;
	}

	.aboutme {
/*	background-color: black;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-width: 20vh;
	font-size: 15px;
	color: white;*/
	height: 108vh;
/*
	.icon-header {
		height: 250px;
		width: 200px;
		border-radius: 80%;
	}
*/
}


	

/*.icon-header{
	height: 150px;
	width: 150px;
	border-radius: 80%

}
.hColor1 {
	color: whitesmoke;
	font-family: 'Playfair Display', serif;
	font-size: 50px;
}

.hColor2 {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

.header-text {
	margin-top: 25vh;*/

/*.first-box > img {
	margin-top: 5vh;
	height: 60px;
	width: 75px;
	border-radius: 50%;*/